{
    "extends": "airbnb/base",
    "rules": {
        "indent": [2, 2],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-unused-vars": [0],
        "no-console": [0],
        "no-process-env": [0],
        "camelcase": [2, {"properties": "always"}],
        "strict": [0, "global"]
    },
    "env": {
        "browser": true,
        "node": true,
        "webextensions": true
    },
    "ecmaFeatures": {
      "generators": true,
    },
}
