// include upstream bootstrap
@import "../../bower_components/bootstrap/less/bootstrap.less";

body {
  padding: 10px;
  min-width:300px;
}

.ph-title-logo {
  max-width:35px;
  max-height:35px;
  margin-top: -7px;
}
