@import "../../bower_components/bootstrap/less/bootstrap.less";

// override default bootstrap theme
@import "bootstrap-variables.less";

@import "../../bower_components/fontawesome/less/font-awesome.less";

@ph-padding: 10px;

body {
  padding: @ph-padding;
  min-width: 350px;
  max-width: 400px;
}

header {
  text-align: center;
  margin-top: @ph-padding;
  margin-bottom: 2 * @ph-padding;
}

.ph-title-logo {
  width: 275px;
  max-width: 100%;
}

.ph-feedback {
  font-size: x-small;
}
