@import "../../bower_components/bootstrap/less/bootstrap.less";

// override default bootstrap theme
@import "bootstrap-variables.less";

@import "../../bower_components/fontawesome/less/font-awesome.less";

body {
  padding: 10px;
  min-width:300px;
}

.ph-title-logo {
  height:100%;
}

.navbar-brand {
  padding-top:7px;
  padding-bottom:7px;
}

.ph-footer {
  position:relative;
}

.ph-feedback {
  font-size:x-small;
  position:absolute;
  right:0px;
  bottom:0px;
}

.ph-no-left-margin {
  margin-left: -15px;
}
