<!doctype html>
<html lang="en" ng-app="paperHive" ng-strict-di ng-csp>
  <head>
    <meta charset="utf-8">
    <link href="popup.css" rel="stylesheet">
    <script src="scripts/popup.js"></script>
  </head>
  <body ng-controller="PopupCtrl">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" target="_blank" ng-href="{{frontendUrl}}"
                                               title="PaperHive">
              <img class="ph-title-logo" src="images/logo.svg">
            </a>
            <a class="navbar-brand" target="_blank"
                                    ng-href="{{frontendUrl}}" title="PaperHive">
              PaperHive
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <div ng-if="article.meta" class="panel panel-default">
      <div class="panel-body">
        <h4>
          <a ng-if="article.meta._id"
             target="_blank"
             ng-href="{{frontendUrl}}/articles/{{article.meta._id}}">
            {{article.meta.title}}</a>
          <span ng-if="!article.meta._id">
            {{article.meta.title}}
          </span>
        </h4>
        <div>
          <span ng-repeat="author in article.meta.authors">
            {{author}}{{$last ? '' :', '}}
          </span>
        </div>
      </div>
    </div>

    <div ng-if="article.discussions && article.discussions.length > 0"
      class="panel panel-default"
      >
      <div class="panel-heading">
        <strong>
          <i class="fa fa-comment"></i> {{article.discussions.length}} open discussions
        </strong>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="discussion in article.discussions">
          <a target="_blank"
             ng-href="{{frontendUrl}}/articles/{{article.meta._id}}/discussions/{{discussion.index}}">
             <span
             ng-if="discussion.replies.length > 0"
             class="pull-right ph-discussion-replies-counter"
             >
             <i class="fa fa-comments"></i> {{discussion.replies.length}}
             </span></a>
             <div>
               <a target="_blank"
                 ng-href="{{frontendUrl}}/articles/{{article.meta._id}}/discussions/{{discussion.index}}">
                 {{discussion.originalAnnotation.title}}</a>
             </div>
             <span class="ph-discussion-subtitle">
               #{{discussion.index}} opened
               <span am-time-ago="discussion.originalAnnotation.createdAt"></span>
               by
               <a target="_blank" ng-href="{{frontendUrl}}/users/{{discussion.originalAnnotation.author.username}}">
                 {{discussion.originalAnnotation.author.displayName}}
               </a>
             </span>
        </li>
      </ul>
    </div>
    </main>

    <footer>
      <a ng-if="article.meta._id"
         id="link" target="_blank" role="button" class="btn btn-primary"
         ng-href="{{frontendUrl}}/articles/{{article.meta._id}}"
         >
        Open in PaperHive
      </a>
      <button ng-if="!article.meta._id"
         type="submit"
         ng-click="submitApproved()"
         class="btn btn-primary"
         >
         <i class="fa fa-fw fa-plus" ng-if="!submitting"></i>
         <i class="fa fa-fw fa-spinner fa-spin" ng-if="submitting"></i>
         Open in PaperHive
      </button>

      <!--span ng-if="!article.meta && !isWhitelistedHost">
        PaperHive only deals with PDFs from whitelisted sources. If you like to
        have more sources included, give us some <a
            ng-href="{{frontendUrl}}/contact" target="_blank">feedback</a>!
      </span-->
      <a
        style="font-size:x-small"
        target="_blank"
        class="pull-right"
        ng-href="{{frontendUrl}}/contact"
        >
        Feedback</a>
    </footer>

  </body>
</html>
