<!doctype html>
<html lang="en" ng-app="paperHive" ng-strict-di ng-csp>
  <head>
    <meta charset="utf-8">
    <link href="popup.css" rel="stylesheet">
    <script src="scripts/popup.js"></script>
  </head>
  <body ng-controller="PopupCtrl">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" target="_blank" ng-href="{{frontendUrl}}"
                                               title="PaperHive">
              <img class="ph-title-logo" src="images/logo.svg">
            </a>
            <a class="navbar-brand" target="_blank"
                                    ng-href="{{frontendUrl}}" title="PaperHive">
              PaperHive
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <p ng-if="!isPdf">
      PaperHive only works with PDF pages.
    </p>

    <div ng-if="article.meta" class="panel panel-default">
      <div class="panel-body">
        <h4>
          <a target="_blank"
             ng-href="{{frontendUrl}}/#/articles/{{article.meta._id}}">
            {{article.meta.title}}</a>
        </h4>
        <div>
          <span ng-repeat="author in article.meta.authors">
            {{author}}{{$last ? '' :', '}}
          </span>
        </div>
      </div>
    </div>

    <div ng-if="article.discussions" class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-comment"></i> {{article.discussions.length}} open discussions
        </strong>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="discussion in article.discussions">
          <a target="_blank"
             ng-href="{{frontendUrl}}/#/articles/{{article.meta._id}}/discussions/{{discussion.index}}">
             <span
             ng-if="discussion.replies.length > 0"
             class="pull-right ph-discussion-replies-counter"
             >
             <i class="fa fa-comments"></i> {{discussion.replies.length}}
             </span></a>
             <div>
               <a target="_blank"
                 ng-href="{{frontendUrl}}/#/articles/{{article.meta._id}}/discussions/{{discussion.index}}">
                 {{discussion.originalAnnotation.title}}</a>
               <ul
                  ng-if="discussion.originalAnnotation.tags.length > 0"
                  class="ph-tags list-inline"
                  >
                  <li ng-repeat="tag in discussion.originalAnnotation.tags">
                    <a href="#" class="btn btn-default">{{tag}}</a>
                  </li>
               </ul>
             </div>
             <span class="ph-discussion-subtitle">
               #{{discussion.index}} opened
               <span am-time-ago="discussion.originalAnnotation.createdAt"></span>
               by
               <a target="_blank" ng-href="{{frontendUrl}}/#/users/{{discussion.originalAnnotation.author.username}}">
                 {{discussion.originalAnnotation.author.displayName}}
               </a>
             </span>
        </li>
      </ul>
    </div>
    </main>

    <footer>
    <a ng-if="article.meta"
       id="link" target="_blank" role="button" class="btn btn-primary"
       ng-href="{{frontendUrl}}/#/articles/{{article.meta._id}}"
       >
      Open in PaperHive
    </a>
    <a ng-if="isPdf && isWhitelistedHost"
       id="link" target="_blank" role="button" class="btn btn-primary"
       ng-href="{{frontendUrl}}/#/articles/new"
       >
      Add to PaperHive
    </a>
      <a style="font-size:x-small" target="_blank"
                                   class="pull-right"
        ng-href="{{frontendUrl}}/#/contact"
        >
        Feedback</a>
    </footer>

  </body>
</html>
