<!doctype html>
<html lang="en" ng-app="paperHive" ng-strict-di ng-csp>
  <head>
    <title>PaperHive Extension Popup</title>
    <meta charset="utf-8">
    <link href="popup.css" rel="stylesheet">
    <script src="popup.js"></script>
  </head>
  <body ng-controller="PopupCtrl">
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" target="_blank" ng-href="{{frontendUrl}}"
                                               title="PaperHive">
              <img
                class="ph-title-logo"
                src="images/logo-full.svg"
                >
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <div ng-if="!document.revisions" class="well">
      This page is not yet available for discussion on PaperHive.
      Do you think it would be a worthwhile addition?
    </div>

    <div ng-if="document.revisions[document.indices.thisRevision]" class="panel panel-default">
      <div class="panel-body">
        <h4>
          <a ng-if="document.revisions[document.indices.thisRevision]"
             target="_blank"
             ng-href="{{frontendUrl}}/documents/{{document.revisions[document.indices.thisRevision].id}}/revisions/{{document.revisions[document.indices.thisRevision].revision}}">
            {{document.revisions[document.indices.thisRevision].title}}</a>
          <span ng-if="!document.revisions[document.indices.thisRevision]">
            {{document.revisions[document.indices.thisRevision].title}}
          </span>
        </h4>
        <div>
          <span ng-repeat="author in document.revisions[document.indices.thisRevision].authors">
            {{author.name}}{{$last ? '' : ', '}}
          </span>
        </div>
      </div>
    </div>

    <a
      href="http://www.spiegel.de"
      ng-if="!document.revisions[document.indices.thisRevision].isOpenAccess
           && document.indices.latestOa > 0"
      >
      <div class="media alert alert-success">
        <div class="media-left media-middle">
          <img src="images/oa.svg" width="40px">
        </div>
        <div class="media-body">
          There is an <strong>open-access</strong> version of this article
          available via
          {{document.revisions[document.indices.latestOa].remote.type}}
          <span ng-if="document.revisions[document.indices.latestOa].volume">
            , volume {{document.revisions[document.indices.latestOa].volume}}
          </span>
          <span ng-if="document.revisions[document.indices.latestOa].issue">
            , issue {{document.revisions[document.indices.latestOa].issue}}
          </span>
          <span ng-if="document.revisions[document.indices.latestOa].publishedAt">
            (published {{document.revisions[document.indices.latestOa].publishedAt | date}}).
          </span>
        </div>
      </div>
    </a>

    <div ng-if="document.indices.thisRevision < document.revisions.length - 1"
      class="alert alert-warning"
      role="alert">
      There is a more recent
      <strong ng-if="document.revisions[document.revisions.length - 1].isOpenAccess">
        open-access
      </strong>
      version of this article available in <strong>{{latestText}}</strong>.
    </div>

    <div ng-if="document.discussions && document.discussions.length > 0"
      class="panel panel-default"
      >
      <div class="panel-heading">
        <strong>
          <i class="fa fa-comment"></i> {{document.discussions.length}} open discussions
        </strong>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="discussion in document.discussions">
          <a target="_blank"
             ng-href="{{frontendUrl}}/documents/{{document.revisions[document.indices.thisRevision].id}}/discussions/{{discussion.id}}">
             <span
             ng-if="discussion.replies.length > 0"
             class="pull-right ph-discussion-replies-counter"
             >
             <i class="fa fa-comments"></i> {{discussion.replies.length}}
             </span></a>
             <div>
               <a target="_blank"
                  ng-href="{{frontendUrl}}/documents/{{document.revisions[document.indices.thisRevision].id}}/discussions/{{discussion.id}}">
                 {{discussion.title}}</a>
             </div>
             <span class="ph-discussion-subtitle">
               opened
               <span am-time-ago="discussion.createdAt"></span>
               by
               <a target="_blank"
                 ng-href="{{frontendUrl}}/users/{{discussion.author.user.username}}"
                 >
                 {{discussion.author.displayName}}
               </a>
             </span>
        </li>
      </ul>
    </div>
    </main>

    <footer class="ph-footer">
      <a id="link" target="_blank" role="button" class="btn btn-primary"
         ng-if="document.revisions"
         ng-href="{{frontendUrl}}/documents/{{document.revisions[document.indices.thisRevision].id}}/revisions/{{document.revisions[document.indices.latestOa].revision}}">
        Open in PaperHive
      </a>

      <a ng-if="!document.revisions"
         type="link"
         class="btn btn-primary"
         target="_blank"
         ng-href="
mailto:info@paperhive.org
?subject=Article suggestion
&body=Hi,%0D%0A%0D%0A
I found this document on%0D%0A
%0D%0A
  {{tabUrl}}%0D%0A
%0D%0A
and I think you should add it PaperHive.%0D%0A%0D%0A
Thanks!"
         >
         Yes!
      </a>

      <!--span ng-if="!document.meta && !isWhitelistedHost">
        PaperHive only deals with PDFs from whitelisted sources. If you like to
        have more sources included, give us some <a
            ng-href="{{frontendUrl}}/contact" target="_blank">feedback</a>!
      </span-->
      <a
        class="ph-feedback"
        target="_blank"
        ng-href="{{frontendUrl}}/contact"
        >
        Feedback</a>
    </footer>

  </body>
</html>
